<nav class="navbar navbar-default" style="margin-bottom: 0%">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target="myNavBar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['Home']">Orion</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="myNavBar">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['Reporting']">Reporting</a></li>
                <li><a [routerLink]="['TestingConfig']">Testing Config</a></li>
                <li><a [routerLink]="['Reporting']">Server Status</a></li>
                <li><a [routerLink]="['Reporting']">Generate Test Data</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>