<h2 style="text-align: center; color: #227cf3">QA Automation Home</h2>
<br>
<div class="container" style="justify-content: center; width: inherit;">
    <div class="panel center" style="width: 50%; margin-left: auto; margin-right: auto">
        <div class="panel-heading" style="border-radius: 5px; text-align: center">
            <h4 style="display: inline; text-align: center">Relevant Wiki Pages</h4>
        </div>
        <div class="panel-body" style="border-style: solid;border-radius: 10px;border-color: #1956ac">
            <ul class="list-group">
                <li class="list-group-item"><a type="button" class="btn" href="http://intranet.awarix.com:8090/display/QA/Quality+Assurance+Home">QA wiki home</a></li>
                <li class="list-group-item"><a type="button" class="btn" href="http://intranet.awarix.com:8090/display/QA/Automation+Environment+Setup">Setting up an automation environment</a></li>
                <li class="list-group-item"><a type="button" class="btn" href="http://intranet.awarix.com:8090/display/QA/Run+TaskSorter+Automation+Testing">Task Sorter order</a></li>
                <li class="list-group-item"><a type="button" class="btn" href="http://intranet.awarix.com:8090/display/QA/Genex+Testing?">Genex testing</a></li>
                <li class="list-group-item"><a type="button" class="btn" href="http://intranet.awarix.com:8090/display/QA/Database+dating+with+Space+Wizard">Space Wizard database dating tool</a></li>
            </ul>
        </div>
    </div>
</div>
<p></p>









